<div id="questions">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1>Questions</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<%= render @questions %>
		</div>
	</div>
</div>