<div id="index">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 welcome">
			<div class="row">
				<div class="col-md-offset-2 col-md-8 ">
					<% if signed_in? %>
						<h4><b>Hello, <a href="/users/<%= @user.id %>/edit"><%= @user.name %>!</a></b> &ensp; <%= link_to "Log out", signout_path, method: "delete", class: 'login' %></h4><br>
					<% end %>
					<p>
						<b>Welcome to the Nethercutt Foundation’s Civics Challenge.</b>  How much of the American Story do you know?  Let’s find out.
					</p>
					<p>
						The study of civics helps us understand our past and present, and equips us to build a strong future. Just as math and science are important for advancing human knowledge, studying civics is essential for keeping America’s future bright. Knowing about America makes us all better Americans!
					</p>
					<p>
						So go ahead—take ten minutes and complete the challenge online—then— challenge your friends and family.  Are you ready to show how much you know about America?
					</p>
					<p>
						<b>Go ahead—accept the challenge!</b>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 begin-container">
			<a class="begin" href="/questions/1">Let's Begin!</a>
		</div>
	</div>
</div>