<div id="quiz">
	<%= render @questions %>
	<div class="row">
		<div class="end col-sm-10 col-sm-offset-1">
			<a rel="nofollow" data-method="put" href="/users/<%= @user.id %>/calculate" class="button product-block col-sm-10 col-sm-offset-1">That's It!</a>
		</div>
	</div>
</div>

<script> 

	var score = 0;

</script>