<div id="scorecard">
	<div class="review">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<h3>Way to go</h1>
				<h1><%= @user.name %></h3>
				<div class="ribbon"><img src="/assets/ribbon.jpg" /></div>
				<h3>You correctly answered</h3>
				<h3><span>X</span> out of <span>X!</span></h3>
			</div>
		</div>
	</div>
</div>