<div id="signup">
	<div class="container">
		<div class="edit-container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3">
							<h4>Create an Account Below</h4><br>
						</div>
					</div>
					<%= render 'form' %>
				</div>
			</div>
		</div>
	</div>
</div>