// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.fill {
	position: relative;
	z-index: 5;
	padding-top: 3em;
	padding-bottom: 7em;
	box-shadow: 0px 0px 25px rgba(0,0,0,.35);
	background: #fefcec;
}

#index {
	position: relative;
	z-index: 500;

	.welcome {
		position: relative;
		background: #fefcec;
		padding-top: 3em;
		padding-bottom: 5em;

		p {
			font-size: 1.25em;
		}
	}

	.welcome:after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 4px;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
		-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
		z-index: -1;
	}

	.begin-container {
		text-align: center;
		padding-top: 6em;

		.begin {
			text-decoration: none;
			display: inline-block;
			text-align: center;
			padding: .5em 1.5em;
			color: #f3dfb0;
			font-size: 2em;
			font-weight: 700;
			background: #053267;
			border: 3px solid #5484a2;
		}

		.begin:hover {
			background: #2F5E96;
		}
	}
}

#quiz {

	.end {
		text-align: center;
		padding-top: 5em;

		a {
			display: inline-block;
			text-decoration: none;
			display: inline-block;
			text-align: center;
			padding: .5em 1.5em;
			color: #f3dfb0;
			font-size: 2em;
			font-weight: 700;
			background: #053267;
			border: 3px solid #5484a2;
		}
	}
}

#scorecard {

	h3 {
		color: #990000;
		font-size: 2em;
		text-align: center;

		span {
			text-align: center;
			font-size: 1.5em;
			text-transform: uppercase;
			font-weight: 900;
			color: #000;
		}
	}

	h1 {
		text-align: center;
		font-size: 3em;
		text-transform: uppercase;
		font-weight: 700;
		color: #000;
	}

	.ribbon {
		display: block;
		text-align: center;

		img {
			display: inline-block;
		}
	}

	.review {
		position: relative;
		background: #fefcec;
		padding-bottom: 4em;
	}

	.review:after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 4px;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		-webkit-box-shadow: 0 0 10px rgba(195,179,135,1);
		-moz-box-shadow: 0 0 10px rgba(195,179,135,1);
		box-shadow: 0 0 10px rgba(195,179,135,1);
		z-index: -1;
	}
}