// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.fill {
	padding-top: 3em;
	padding-bottom: 7em;
	box-shadow: 0px 0px 25px rgba(0,0,0,.35);
	background: #fefcec;
}

#index {
	position: relative;
	z-index: 500;

	.welcome {
		padding-top: 3em;
		padding-bottom: 5em;
		border-bottom: 1px solid #ccc;
	}

	.begin-container {
		text-align: center;
		padding-top: 6em;

		.begin {
			text-decoration: none;
			display: inline-block;
			text-align: center;
			padding: .5em 1.5em;
			color: #fefcec;
			font-size: 2em;
			font-weight: 700;
			background: #053267;

		}

		.begin:hover {
			opacity: .5;
		}
	}
}