// Place all the styles related to the Question controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#question {
	width: 100%;
	margin-bottom: 0;

	.heading {
		margin-top: 3em;
		margin-bottom: 5em;

		h3 {
			width: 80%;
			display: inline-block;
			font-size: 2em;
			font-weight: 900;
			padding-top: 1em;
			margin-left: 5%;
			margin: 0;
			line-height: 1em;
			vertical-align: top;
		}

		h5 {
			width: 15%;
			font-size: 4em;
			font-weight: 900;
			color: #be0000;
			margin: 0;
			display: inline-block;
		}
	}

	p {
		font-size: 1.5em;
	}

	p.selected {
		color: #be0000;
	}

	p.correct-answer {
		color: #be0000;
	}

	.submission {
		padding-top: 2em;
		padding-bottom: 5em;

		.submit {
			width: 100%;
			cursor: pointer;
			text-decoration: none;
			display: inline-block;
			text-align: center;
			padding: .25em 1.5em;
			color: #fdfbea;
			font-size: 1.25em;
			font-weight: 300;
			background: #053267;
			border: 2px solid #5484a2;

			p {
				font-size: 1em;
				margin: 0;
			}
		}

		.submit:hover {
			background: #2F5E96;
		}
	}

	.question {
		position: relative;

		> .row {
			position: relative;
			background: #fefcec;
			z-index: 50;
		}

		.options {

			p {
				cursor: pointer;
				padding: .25em 1.25em;
			}

			p:hover {
				background: rgba(0,0,0,0.1);
			}
		}

		.arrow-down {
			position: absolute;
			z-index: 25;
			bottom: -42px;
			left: 50%;
			margin-left: -43px;
			width: 87px; 
			height: 51px;
			background: url('/assets/arrow_down.png');
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
		}

	}

	#countdown {
		font-size: 2.5em;
		font-weight: 900;
		font-style: italic;
		padding-top: .5em;
		display: inline-block;
		padding-right: .25em;
	}

	.question .shadow {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 4px;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		-webkit-box-shadow: 0 0 6px rgba(195,179,135,1);
		-moz-box-shadow: 0 0 6px rgba(195,179,135,1);
		box-shadow: 0 0 6px rgba(195,179,135,1);
		z-index: 1;
	}

	.solution-box {
		position: relative;
		height: 0px;
		opacity: 0;
		background: #fefcec;
		transition: all .15s;
		-moz-transition: all .15s;
		-ms-transition: all .15s;
		-webkit-transition: all .15s;

		.answer {
			position: relative;
			height: 0;
			opacity: 0;
			overflow: hidden;
			z-index: 25;
			transition: all .5s;
			-moz-transition: all .5s;
			-ms-transition: all .5s;
			-webkit-transition: all .5s;

			.row {
				position: relative;
				background: #fcf6e2;
				z-index: 50;
			}

			.content {
				overflow: hidden;
				padding-bottom: 5em;

				.heading {
					margin-bottom: 0;
				}

				.result {
					color: #990000;
					margin: .75em 0;
				}
			}
		}

		.activity {
			position: relative;
			height: 0;
			opacity: 0;
			z-index: 10;
			background: #fefcec;
			transition: all .5s;
			-moz-transition: all .5s;
			-ms-transition: all .5s;
			-webkit-transition: all .5s;

			h1 {
				font-weight: 900;
				margin-bottom: 0;
				color: #003366;
			}

			p.act {
				padding-top: 0em;
				padding-bottom: 3em;
				color: #003366;
				font-style: italic;
			}
		}
	}

	.solution-box.open {
		height: auto;
		opacity: 1;

		.answer {
			min-height: 35em;
			opacity: 1;
		}
	}

	.baseplate {
		position: relative;
		z-index: 25;
		width: 100%;

		img {
			display: block;
			width: 100%;
		}
	}
}