// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#signup {
	width: 100%;
	position: relative;
	z-index: 500;

	.edit-container {
		padding: 9em 0;
		background: #fefcec;
	}

	.button-container {
		padding: 1em 0;

		.button {
			width: 100%;
			text-decoration: none;
			display: inline-block;
			text-align: center;
			padding: .25em 1.5em;
			color: #f3dfb0;
			font-size: 1.25em;
			font-weight: 700;
			background: #053267;
			border: 2px solid #5484a2;
		}

		.button:hover {
			background: #2F5E96;
		}
	}
}