<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-6 copyright">
						<p>&copy; 2015 The Nethercutt Foundation</p>
					</div>
					<div class="col-sm-6 social">

					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">