<header id="header">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="nav">
					<a href="/main/index">Home</a>
					<a href="/main/quiz">Questions</a>
					<a href="/questions/new">New Question</a>
					<a href="/signin">Log in</a>
				</div>
			</div>
			<img class="header-bg" src="/assets/header.jpg" />
		</div>
	</div>
</header>