<header id="header">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="nav">
					<a href="/main/index"><span>Home</span></a>
					<a href="/main/quiz"><span>About</span></a>
					<a href="/questions/new"><span>Contact</span></a>
					<a href="/signin"><span>Privacy Policy</span></a>
				</div>
			</div>
			<img class="header-bg" src="/assets/header.png" />
		</div>
	</div>
</header>